<launch>
    <!-- 参数定义 -->
    <param name="/gps_std_dev" value="5.8"/>
    <param name="/odom_std_dev" value="1.4"/>
    <param name="dt" value="0.1"/>

    <param name="/measure_gps_std_dev" value="1.3"/>
    <param name="/measure_odom_std_dev" value="1.5"/>

    <param name="acceleration_file" value="$(find kalman_filter)/data/accelerations.npy"/>

    <!-- 节点启动 -->
    <node name="parm_sim" pkg="kalman_filter" type="parm_sim.py"/>
    <node name="gps" pkg="kalman_filter" type="gps.py"/>
    <node name="odom" pkg="kalman_filter" type="odom.py"/>
    <node name="filter" pkg="kalman_filter" type="filter.py"/>

    <!-- 启动绘图节点 -->
    <node name="plot_p" pkg="rqt_plot" type="rqt_plot" args="/position /p_gps /filter_p" required="true" />
    <node name="plot_v" pkg="rqt_plot" type="rqt_plot" args="/velocity /v_odom /filter_v" required="true" />

    <node name="graph" pkg="rqt_graph" type="rqt_graph" />
</launch> 